html {
  font-family: 'Roboto', sans-serif;
}
html, body, section {
  height: 100%;
}
.bodyContent {
  background-image: url(presents.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}
.bodyContent2 {
  text-align: center;
}
.reasonsList {
  text-align: center;
}
.nav-custom {
  background-color: white !important;
  color: black;
  position: fixed;
  top: 0px;
  width: 100%;

}
.navbar-nav {
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
}
.bodyContent {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; 
}
h2 {
  font-size: 3em;
}
.btn-danger {
  background-color: black;
  border: 1px solid white;
  margin-top: 20px;
}
button[type="submit"] {
  border: 1px solid #4C4C4C;
  color: black;
}
button[type="submit"]:hover {
  background-color: red;
}
.main-footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: white;
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  display: inline-block;
}
.footer-links img {
  width: 56px;
  height: 56px;
}
p.main-footer {
  display: inline;
}